<!-- products/product_card.html -->
<div class="col-md-3">
    <div class="card-sl">
        <div class="card-image">
            <img style="width: 900px;object-fit: contain;" src="{{ product.image }}" alt="{{ product.name }}" />
        </div>
        <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
        <div class="card-heading">{{ product.name }}</div>
        <div class="card-text">{{ product.description }}</div>
        <div class="card-text">${{ product.price }}</div>
        <a href="#" class="card-button">Purchase</a>
    </div>
</div>
